# Benchmark execution and dataset generation
numpy==2.4.4
scipy==1.17.1
scikit-learn==1.8.0
pyperf
threadpoolctl

# Postprocessing and reporting
pandas
matplotlib
seaborn

# Notebook report
notebook
ipykernel
